<div class='introView'>
	<div :class="[ `step${step}`, { isVideoLoading } ]">
		<div class='videoLoading'
			 :class="{ 'hidden': !isVideoLoading }"
			 >
			Загрузка
		</div>
		<div class='logo'
			 @click='logoClick'
			 :title='logoTitle'
		>
			{% include '@view::/assets/kot-brodskogo-logo.svg' %}
		</div>
		<unlock class='unlock'
				ref='unlock'
				@x='unlockMove'
				@unlocked='nextScene'
				:hidden='step > 2'
		></unlock>
		<p class='text text2'
		   ref='text2'
		   v-if='text.parts && step === 2'
		>
			<template v-for='letter in text.visible'>
				<span v-html='letter'></span>
			</template>
			<template v-for='letter in text.hidden'>
				<span class='invisible' v-html='letter'></span>
			</template>
		</p>
		<video class='video video1'
			   muted playsinline preload='auto'
			   ref='video1'
		>
			<source :src='step1video.url' :type='step1video.type'>
		</video>
		<video class='video video2'
			   muted playsinline preload='auto'
			   ref='video2'
		>
			<source :src='step2video.url' :type='step2video.type'>
		</video>
	</div>
</div>
