root = true

[*]
end_of_line = lf
charset = utf-8
trim_trailing_whitespace = true
insert_final_newline = true
indent_style = space
indent_size = 4

[{package.json,*.yml,*.yaml}]
indent_style = space
indent_size = 2

[{*.js,gulp/**/*}]
indent_style = tab
indent_size = 4
end_of_line = lf
insert_final_newline = true
charset = utf-8

[{public/source/**/*.sass,public/source/**/*.scss,public/source/**/*.js,public/source/**/*.twig}]
indent_style = tab
indent_size = 4
end_of_line = lf
insert_final_newline = true
charset = utf-8
