{% extends '@view::/layouts/base.twig' %}

{% block main %}
	{% set scope = {
	} %}
	<a href='/' class='logo'>
		{% include '@view::/assets/kot-brodskogo-logo.svg' %}
	</a>
	<h1>
		Library
	</h1>
{% endblock %}
