extends layouts/base
block body
	include components/nav-screen/nav-screen
append styles
	style#no-js-index.
		.no-js .navLayer {
			opacity: 1;
		}
		.js .navLayer {
			opacity: 0;
		}
		.js .videoPresentation ~ .navLayer {
			opacity: 1;
		}
block vendorStyles
	// PT Mono
		regular 400
	link(href='https://fonts.googleapis.com/css?family=PT+Mono' rel='stylesheet')
append scripts
	script#external-storage-videos.
		window['site'].step1video = {
			url: 'media/blackboard.mp4',
			type: 'video/mp4',
		};
		window['site'].step2video = {
			url: 'media/typewriter.mp4',
			type: 'video/mp4',
		};
