extends layouts/default
block content
	include components/videos/videos
block vendorStyles
	// Roboto Slab
		thin 100
		light 300
		regular 400
		bold 700
	link(href='https://fonts.googleapis.com/css?family=Roboto+Slab' rel='stylesheet')
